.container{
    width:90%;
    margin:auto;
}
.products_div{
    display: flex;
    justify-content: space-around;

     /* The “clear: both” means floating the elements are not allowed to float on both sides. */
    /* clear: both; */
    margin: 50px 0;
    height: 100%;
}
.products_details{
    width: 50%;
}
.products_img{
    width: 45%;
    object-fit: cover;
}
.details_container{
    width: 80%;
}
.details_container div{
    font-size: 1.5rem;
}
.products_img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.products_div:nth-child(odd) {
    flex-direction: row;
}
.products_div:nth-child(even) {
    flex-direction: row-reverse;
}
.heading{
    text-align: center;
    color:#C780FA;
    font-size: 3rem;
    box-shadow: 10 0 10 #C780FA;
    /* margin: auto; */
}
@media screen and (max-width: 768px){
    .products_div{
        flex-direction: column !important;
    }
    .details_container{
        width: 90vw;
        text-align: center;
    }
    .products_img{
        width: 100%;
    }
}
/* .button{
    border-radius: 34px;
    border: none;
    color: black;
    font-size: 20px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(rgb(213, 138, 88),rgb(239, 246, 144));
    box-shadow: 0 0 10px rgb(109, 82, 32);
    text-decoration: none;
    font-weight: lighter;
} */
